html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}
/* Main Page */
.MainPageTitle {
  padding: 10px 0;
  background-image: linear-gradient(
    to bottom right,
    rgb(133, 255, 26),
    rgb(43, 189, 251)
  );
  text-align: center;
}

.MainPageTitle h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.ListCategories {
  padding: 0 0 80px;
  flex: 1;
}

.Category {
  padding: 0 10px 20px;
}

.CategoryTitle h2 {
  border-bottom: 1px solid #dedede;
}

.ListBook {
  text-align: center;
}

.SearchButton {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.SearchButton button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url("./icons/add.svg"),
    linear-gradient(to bottom right, rgb(133, 255, 26), rgb(43, 189, 251));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

/* Search Page */

.SearchBar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.SearchInput {
  flex: 1;
  background: #e9e;
}

.SearchInput input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.GoBackButton button {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.SearchResult {
  padding: 80px 10px 20px;
}

.SearchResult ul{
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.SearchResult li{
  padding: 10px 15px;
  text-align: left;
}

/* Books */

.ListBook ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ListBook ul li {
  padding: 10px 15px;
  text-align: left;
}

.Book {
  width: 140px;
}

.TitleBook,
.Author {
  font-size: 0.8em;
}

.TitleBook {
  margin-top: 10px;
}

.Author {
  color: #999;
}

.TopBook {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.BookCover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

.BookOption {
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("./icons/arrow-drop-down.svg"),
    linear-gradient(to bottom right, rgb(133, 255, 26), rgb(43, 189, 251));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.BookOption select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
